# Imports

In [1]:
from collections import defaultdict

import IPython
import IPython.display
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf
import tensorflow_probability as tfp
import keras_tuner as kt

mpl.rcParams['figure.figsize'] = (8, 6)
mpl.rcParams['axes.grid'] = False

# Function definitions

In [2]:
#new

def split_ts_data(data, val_start, test_start):
    year_min = min(data['Year'])
    year_max = max(data['Year'])
    year_range = year_max-year_min
    
    assert (val_start >= year_min) & (test_start >= year_min) & (val_start <= year_max) & (test_start <= year_max), "Parameter out of bounds"
    assert (val_start > year_min) & (test_start > year_min), "Training set is empty."
    assert val_start < test_start, "Validation set is empty."
    assert year_range > 0, "Data contains less than 2 years."
    
    
    train_data = data[(data['Year']<val_start) & (data['Year']<test_start)]
    val_data = data[(data['Year']>=val_start) & (data['Year']<test_start)]
    test_data = data[data['Year']>=test_start]
    
    return train_data, val_data, test_data

In [3]:
def make_dataset(df, input_width, label_width, shift):
    def create_window(tensor):
        #input -> length of time series used for training
        #shift -> how far off prediction is from last input
        #label -> points to predict
        total_window_size = input_width + shift
        label_start = total_window_size - label_width

        input_bounds = slice(0, input_width)
        label_bounds = slice(label_start, None)

        inputs = tensor[:,input_bounds,:]
        labels = tensor[:,label_bounds,:]

        inputs.set_shape([None, input_width, None])
        labels.set_shape([None, label_width, None])

        return inputs, labels
    
    total_window_size = input_width + shift
    
    arr = np.array(df, dtype=np.float32)
    ds = tf.keras.utils.timeseries_dataset_from_array(
      data=arr,
      targets=None,
      sequence_length=total_window_size,
      sequence_stride=1,
      shuffle=False,
      batch_size=32,)
    
    ds = ds.map(create_window)
    
    return ds

In [4]:
def compile_and_fit(model, num_epochs, input_optimizer='adam', input_loss='mse'):
    model.compile(optimizer=input_optimizer, loss=input_loss)
    history = model.fit(x=train_inputs,y=train_labels, batch_size = 32, epochs=num_epochs, validation_data=(val_inputs,val_labels), shuffle=False)
    
    return history

In [5]:
def col_dict(np_df):
    return_dict = {col:index for index, col in enumerate(np_df.columns)}
    
    return return_dict

In [6]:
def plot(df, ds, input_width, label_width, shift, model=None, plot_col='10101 m0.4', max_subplots=3):
    #ensure that df and ds match e.g. train_df must be accompanied by train_ds
    col_indices = col_dict(df)
    
    total_window_size = label_width + shift
    input_slice = slice(0,input_width)
    input_indices = np.arange(total_window_size)[input_slice]
    label_start = total_window_size - label_width
    labels_slice = slice(label_start, None)
    label_indices = np.arange(total_window_size)[labels_slice]
    
    inputs = next(iter(ds))[0]
    labels = next(iter(ds))[1]
    plt.figure(figsize=(12, 8))
    plot_col_index = col_indices[plot_col] 
    max_n = min(max_subplots, len(inputs))
    
    for n in range(max_n):
        plt.subplot(max_n, 1, n+1)
        plt.ylabel(plot_col)
        plt.plot(input_indices, inputs[n, :, plot_col_index],
             label='Inputs', marker='.', zorder=-10)
        
        plt.scatter(label_indices, labels[n, :, plot_col_index],
                edgecolors='k', label='Labels', c='#2ca02c', s=64)
        
        if model is not None:
          predictions = model(inputs)
          plt.scatter(label_indices, predictions[n, :, plot_col_index],
                  marker='X', edgecolors='k', label='Predictions',
                  c='#ff7f0e', s=64)
            
        if n == 0:
          plt.legend()
        
    plt.xlabel('Year')

# Main code

## Edit parameters here, but do not rename variables

## Read, preprocess data

In [7]:
raw_data = pd.read_csv('../Data/newSA3.csv')



#Parameters
validation_start = 2002
test_start = 2006
#



train_df, val_df, test_df = split_ts_data(raw_data, validation_start, test_start)

train_df = train_df[train_df.columns.difference(["Unnamed: 0","Year"])]
val_df = val_df[val_df.columns.difference(["Unnamed: 0","Year"])]
test_df = test_df[test_df.columns.difference(["Unnamed: 0","Year"])]

In [8]:
## Create datasets

In [9]:
#Parameters
input_width = 2 #data used in prediction
label_width = 1 #points to predict
shift = 1 #how many years away is the last point to predict
#



train_ds = make_dataset(train_df, input_width, label_width, shift)
val_ds = make_dataset(val_df, input_width, label_width, shift)
test_ds = make_dataset(test_df, input_width, label_width, shift)

num_cols = next(iter(train_ds))[0].shape[2]

## Create and fit model

In [10]:
class SACohortModel(kt.HyperModel):
    def build(self,hp):
        #### Hyperparameters
        # add hyperparameters as needed when adding layers
        
        ##layer hyperparameters
        hp_lstm1_units = hp.Choice('units',[10,30,50])
        hp_lstm1_act = hp.Choice('activation', ["relu"])

        ##model hyperparameters -> adjust tf.keras.models type and model.add layers
        model = tf.keras.models.Sequential()
        model.add(tf.keras.layers.LSTM(units = hp_lstm1_units, 
                                       activation=hp_lstm1_act, 
                                       return_sequences=False))
        
        model.add(tf.keras.layers.Dense(label_width * num_cols))
        model.add(tf.keras.layers.Reshape([label_width,num_cols]))
        
        ##compilation hyperparameters
        hp_epochs = hp.Choice("epochs",[10,20,30])
        hp_input_optimizer = hp.Choice('input_optimizer',["adam", "adadelta"])
        loss_fun = "mse"
        
        ####
        
        #Do not edit
        model.compile(loss = loss_fun)
        
        return model
        #Do not edit

In [11]:
#Parameter
num_epochs = 10
#

train_inputs = next(iter(train_ds))[0]
train_labels = next(iter(train_ds))[1]

val_inputs = next(iter(val_ds))[0]
val_labels = next(iter(val_ds))[1]

test_inputs = next(iter(test_ds))[0]

tuner = kt.RandomSearch(
    SACohortModel(),
    objective='val_loss',
    max_trials=5)

tuner.search(train_inputs, train_labels, epochs = num_epochs, validation_data = (val_inputs, val_labels))

INFO:tensorflow:Reloading Oracle from existing project .\untitled_project\oracle.json
INFO:tensorflow:Reloading Tuner from .\untitled_project\tuner0.json
INFO:tensorflow:Oracle triggered exit

## Create model with above parameters

In [53]:
model_optimizer = 'adam'
loss_fun = 'mse'


full_model = tf.keras.models.Sequential()
full_model.add(tf.keras.layers.LSTM(units = 30, 
                                       activation=tf.keras.activations.relu, 
                                       return_sequences=False))
        
full_model.add(tf.keras.layers.Dense(label_width * num_cols, activation="linear"))
full_model.add(tf.keras.layers.Reshape([label_width,num_cols]))
compile_and_fit(full_model, num_epochs=200, input_optimizer=model_optimizer, input_loss=loss_fun)

Epoch 1/200
1/1 [==============================] - 4s 4s/step - loss: 4138923.0000 - val_loss: 4711191.5000
Epoch 2/200
1/1 [==============================] - 0s 66ms/step - loss: 4156189.2500 - val_loss: 4642102.0000
Epoch 3/200
1/1 [==============================] - 0s 66ms/step - loss: 4094916.0000 - val_loss: 4615849.0000
Epoch 4/200
1/1 [==============================] - 0s 67ms/step - loss: 4073287.0000 - val_loss: 4520344.0000
Epoch 5/200
1/1 [==============================] - 0s 67ms/step - loss: 3991287.5000 - val_loss: 4385751.0000
Epoch 6/200
1/1 [==============================] - 0s 68ms/step - loss: 3875326.7500 - val_loss: 4241473.0000
Epoch 7/200
1/1 [==============================] - 0s 63ms/step - loss: 3750502.7500 - val_loss: 4104215.0000
Epoch 8/200
1/1 [==============================] - 0s 59ms/step - loss: 3631001.7500 - val_loss: 3963814.5000
Epoch 9/200
1/1 [==============================] - 0s 57ms/step - loss: 3508579.0000 - val_loss: 3798443.0000
Epoch 10/200
1/1 [==============================] - 0s 57ms/step - loss: 3365197.7500 - val_loss: 3607700.0000
Epoch 11/200
1/1 [==============================] - 0s 64ms/step - loss: 3200667.0000 - val_loss: 3408658.5000
Epoch 12/200
1/1 [==============================] - 0s 62ms/step - loss: 3029273.0000 - val_loss: 3212993.0000
Epoch 13/200
1/1 [==============================] - 0s 65ms/step - loss: 2860405.0000 - val_loss: 3017856.2500
Epoch 14/200
1/1 [==============================] - 0s 60ms/step - loss: 2690917.5000 - val_loss: 2818206.5000
Epoch 15/200
1/1 [==============================] - 0s 63ms/step - loss: 2514355.7500 - val_loss: 2614506.5000
Epoch 16/200
1/1 [==============================] - 0s 65ms/step - loss: 2334772.5000 - val_loss: 2409673.5000
Epoch 17/200
1/1 [==============================] - 0s 55ms/step - loss: 2152253.0000 - val_loss: 2220428.5000
Epoch 18/200
1/1 [==============================] - 0s 64ms/step - loss: 1981012.0000 - val_loss: 2040395.7500
Epoch 19/200
1/1 [==============================] - 0s 66ms/step - loss: 1817362.1250 - val_loss: 1862595.0000
Epoch 20/200
1/1 [==============================] - 0s 59ms/step - loss: 1656429.1250 - val_loss: 1686221.7500
Epoch 21/200
1/1 [==============================] - 0s 74ms/step - loss: 1498062.3750 - val_loss: 1518232.1250
Epoch 22/200
1/1 [==============================] - 0s 58ms/step - loss: 1347986.6250 - val_loss: 1365483.7500
Epoch 23/200
1/1 [==============================] - 0s 56ms/step - loss: 1211276.6250 - val_loss: 1229082.7500
Epoch 24/200
1/1 [==============================] - 0s 68ms/step - loss: 1087889.5000 - val_loss: 1106690.0000
Epoch 25/200
1/1 [==============================] - 0s 62ms/step - loss: 975097.0000 - val_loss: 997690.8125
Epoch 26/200
1/1 [==============================] - 0s 64ms/step - loss: 872256.1250 - val_loss: 903471.6875
Epoch 27/200
1/1 [==============================] - 0s 73ms/step - loss: 781127.6875 - val_loss: 823337.8750
Epoch 28/200
1/1 [==============================] - 0s 68ms/step - loss: 702233.1250 - val_loss: 752694.4375
Epoch 29/200
1/1 [==============================] - 0s 61ms/step - loss: 632894.3750 - val_loss: 686795.3750
Epoch 30/200
1/1 [==============================] - 0s 56ms/step - loss: 569854.5000 - val_loss: 624992.1250
Epoch 31/200
1/1 [==============================] - 0s 56ms/step - loss: 512529.0000 - val_loss: 569671.0625
Epoch 32/200
1/1 [==============================] - 0s 61ms/step - loss: 462169.3750 - val_loss: 522160.1875
Epoch 33/200
1/1 [==============================] - 0s 66ms/step - loss: 418758.2188 - val_loss: 481248.5000
Epoch 34/200
1/1 [==============================] - 0s 66ms/step - loss: 380259.0312 - val_loss: 445296.4688
Epoch 35/200
1/1 [==============================] - 0s 65ms/step - loss: 344847.6875 - val_loss: 413918.0625
Epoch 36/200
1/1 [==============================] - 0s 61ms/step - loss: 312485.4062 - val_loss: 386810.3125
Epoch 37/200
1/1 [==============================] - 0s 47ms/step - loss: 283741.6250 - val_loss: 362180.4375
Epoch 38/200
1/1 [==============================] - 0s 46ms/step - loss: 258060.6719 - val_loss: 337740.6875
Epoch 39/200
1/1 [==============================] - 0s 67ms/step - loss: 234139.9219 - val_loss: 313036.5625
Epoch 40/200
1/1 [==============================] - 0s 64ms/step - loss: 211600.0781 - val_loss: 289660.5625
Epoch 41/200
1/1 [==============================] - 0s 67ms/step - loss: 191188.6875 - val_loss: 269208.5000
Epoch 42/200
1/1 [==============================] - 0s 65ms/step - loss: 173348.3125 - val_loss: 251941.9688
Epoch 43/200
1/1 [==============================] - 0s 58ms/step - loss: 157503.5469 - val_loss: 237473.4375
Epoch 44/200
1/1 [==============================] - 0s 71ms/step - loss: 142993.4531 - val_loss: 225641.1406
Epoch 45/200
1/1 [==============================] - 0s 61ms/step - loss: 129925.3906 - val_loss: 216049.4375
Epoch 46/200
1/1 [==============================] - 0s 65ms/step - loss: 118618.8359 - val_loss: 207476.0625
Epoch 47/200
1/1 [==============================] - 0s 56ms/step - loss: 108755.5703 - val_loss: 198675.9844
Epoch 48/200
1/1 [==============================] - 0s 66ms/step - loss: 99694.9062 - val_loss: 189613.2500
Epoch 49/200
1/1 [==============================] - 0s 73ms/step - loss: 91320.9062 - val_loss: 181266.2812
Epoch 50/200
1/1 [==============================] - 0s 68ms/step - loss: 83947.9297 - val_loss: 174394.7500
Epoch 51/200
1/1 [==============================] - 0s 60ms/step - loss: 77560.7031 - val_loss: 169051.3125
Epoch 52/200
1/1 [==============================] - 0s 57ms/step - loss: 71746.0000 - val_loss: 165057.0312
Epoch 53/200
1/1 [==============================] - 0s 60ms/step - loss: 66321.5781 - val_loss: 162181.2188
Epoch 54/200
1/1 [==============================] - 0s 51ms/step - loss: 61478.0625 - val_loss: 159799.0625
Epoch 55/200
1/1 [==============================] - 0s 66ms/step - loss: 57260.7891 - val_loss: 157064.9844
Epoch 56/200
1/1 [==============================] - 0s 64ms/step - loss: 53400.5820 - val_loss: 153703.4219
Epoch 57/200
1/1 [==============================] - 0s 66ms/step - loss: 49752.5469 - val_loss: 150239.1250
Epoch 58/200
1/1 [==============================] - 0s 66ms/step - loss: 46471.8594 - val_loss: 147328.7500
Epoch 59/200
1/1 [==============================] - 0s 64ms/step - loss: 43639.3047 - val_loss: 145221.0312
Epoch 60/200
1/1 [==============================] - 0s 64ms/step - loss: 41086.5977 - val_loss: 143870.5469
Epoch 61/200
1/1 [==============================] - 0s 60ms/step - loss: 38702.5234 - val_loss: 143089.3750
Epoch 62/200
1/1 [==============================] - 0s 58ms/step - loss: 36580.7266 - val_loss: 142441.1562
Epoch 63/200
1/1 [==============================] - 0s 70ms/step - loss: 34760.1523 - val_loss: 141397.6875
Epoch 64/200
1/1 [==============================] - 0s 67ms/step - loss: 33108.2773 - val_loss: 139821.4062
Epoch 65/200
1/1 [==============================] - 0s 54ms/step - loss: 31550.8926 - val_loss: 138077.1406
Epoch 66/200
1/1 [==============================] - 0s 52ms/step - loss: 30161.8965 - val_loss: 136605.3438
Epoch 67/200
1/1 [==============================] - 0s 48ms/step - loss: 28961.6641 - val_loss: 135592.6250
Epoch 68/200
1/1 [==============================] - 0s 56ms/step - loss: 27855.1074 - val_loss: 135012.7188
Epoch 69/200
1/1 [==============================] - 0s 70ms/step - loss: 26806.5176 - val_loss: 134687.0625
Epoch 70/200
1/1 [==============================] - 0s 59ms/step - loss: 25873.4277 - val_loss: 134285.4062
Epoch 71/200
1/1 [==============================] - 0s 59ms/step - loss: 25055.4375 - val_loss: 133532.7969
Epoch 72/200
1/1 [==============================] - 0s 61ms/step - loss: 24286.4570 - val_loss: 132477.5781
Epoch 73/200
1/1 [==============================] - 0s 70ms/step - loss: 23564.1582 - val_loss: 131423.5938
Epoch 74/200
1/1 [==============================] - 0s 67ms/step - loss: 22935.0332 - val_loss: 130631.0781
Epoch 75/200
1/1 [==============================] - 0s 67ms/step - loss: 22385.8633 - val_loss: 130178.6875
Epoch 76/200
1/1 [==============================] - 0s 50ms/step - loss: 21874.4199 - val_loss: 129997.4688
Epoch 77/200
1/1 [==============================] - 0s 59ms/step - loss: 21413.1074 - val_loss: 129895.6719
Epoch 78/200
1/1 [==============================] - 0s 65ms/step - loss: 21024.9648 - val_loss: 129645.2891
Epoch 79/200
1/1 [==============================] - 0s 67ms/step - loss: 20683.4844 - val_loss: 129172.5078
Epoch 80/200
1/1 [==============================] - 0s 71ms/step - loss: 20364.6973 - val_loss: 128620.8594
Epoch 81/200
1/1 [==============================] - 0s 69ms/step - loss: 20085.7734 - val_loss: 128191.7422
Epoch 82/200
1/1 [==============================] - 0s 62ms/step - loss: 19851.5137 - val_loss: 127986.8438
Epoch 83/200
1/1 [==============================] - 0s 62ms/step - loss: 19636.5547 - val_loss: 127985.3125
Epoch 84/200
1/1 [==============================] - 0s 63ms/step - loss: 19435.1914 - val_loss: 128067.4844
Epoch 85/200
1/1 [==============================] - 0s 66ms/step - loss: 19261.8672 - val_loss: 128070.2344
Epoch 86/200
1/1 [==============================] - 0s 64ms/step - loss: 19109.5723 - val_loss: 127909.0469
Epoch 87/200
1/1 [==============================] - 0s 63ms/step - loss: 18962.7910 - val_loss: 127650.4219
Epoch 88/200
1/1 [==============================] - 0s 67ms/step - loss: 18828.0703 - val_loss: 127432.2969
Epoch 89/200
1/1 [==============================] - 0s 67ms/step - loss: 18712.5840 - val_loss: 127343.9219
Epoch 90/200
1/1 [==============================] - 0s 66ms/step - loss: 18605.8027 - val_loss: 127383.8594
Epoch 91/200
1/1 [==============================] - 0s 68ms/step - loss: 18503.7031 - val_loss: 127472.9609
Epoch 92/200
1/1 [==============================] - 0s 72ms/step - loss: 18414.8711 - val_loss: 127498.5859
Epoch 93/200
1/1 [==============================] - 0s 59ms/step - loss: 18337.8477 - val_loss: 127399.4688
Epoch 94/200
1/1 [==============================] - 0s 59ms/step - loss: 18264.7949 - val_loss: 127217.3125
Epoch 95/200
1/1 [==============================] - 0s 61ms/step - loss: 18198.8223 - val_loss: 127048.1797
Epoch 96/200
1/1 [==============================] - 0s 64ms/step - loss: 18143.6914 - val_loss: 126958.5859
Epoch 97/200
1/1 [==============================] - 0s 70ms/step - loss: 18093.6543 - val_loss: 126948.9922
Epoch 98/200
1/1 [==============================] - 0s 62ms/step - loss: 18046.4238 - val_loss: 126962.2656
Epoch 99/200
1/1 [==============================] - 0s 61ms/step - loss: 18005.9824 - val_loss: 126922.1719
Epoch 100/200
1/1 [==============================] - 0s 59ms/step - loss: 17970.6973 - val_loss: 126794.7500
Epoch 101/200
1/1 [==============================] - 0s 75ms/step - loss: 17936.5527 - val_loss: 126616.9062
Epoch 102/200
1/1 [==============================] - 0s 62ms/step - loss: 17905.5723 - val_loss: 126457.4453
Epoch 103/200
1/1 [==============================] - 0s 66ms/step - loss: 17879.0957 - val_loss: 126359.7812
Epoch 104/200
1/1 [==============================] - 0s 58ms/step - loss: 17854.0039 - val_loss: 126318.0156
Epoch 105/200
1/1 [==============================] - 0s 65ms/step - loss: 17830.1641 - val_loss: 126286.7500
Epoch 106/200
1/1 [==============================] - 0s 59ms/step - loss: 17809.7500 - val_loss: 126216.2031
Epoch 107/200
1/1 [==============================] - 0s 66ms/step - loss: 17791.3750 - val_loss: 126094.9453
Epoch 108/200
1/1 [==============================] - 0s 57ms/step - loss: 17773.7109 - val_loss: 125958.2656
Epoch 109/200
1/1 [==============================] - 0s 66ms/step - loss: 17758.3828 - val_loss: 125853.5625
Epoch 110/200
1/1 [==============================] - 0s 83ms/step - loss: 17745.3438 - val_loss: 125802.5000
Epoch 111/200
1/1 [==============================] - 0s 67ms/step - loss: 17733.0215 - val_loss: 125789.7500
Epoch 112/200
1/1 [==============================] - 0s 67ms/step - loss: 17722.0078 - val_loss: 125776.9609
Epoch 113/200
1/1 [==============================] - 0s 70ms/step - loss: 17712.8926 - val_loss: 125734.2031
Epoch 114/200
1/1 [==============================] - 0s 83ms/step - loss: 17704.4336 - val_loss: 125665.1875
Epoch 115/200
1/1 [==============================] - 0s 73ms/step - loss: 17696.5117 - val_loss: 125600.6875
Epoch 116/200
1/1 [==============================] - 0s 66ms/step - loss: 17689.8672 - val_loss: 125569.1250
Epoch 117/200
1/1 [==============================] - 0s 65ms/step - loss: 17683.8789 - val_loss: 125574.2031
Epoch 118/200
1/1 [==============================] - 0s 60ms/step - loss: 17678.0879 - val_loss: 125594.3438
Epoch 119/200
1/1 [==============================] - 0s 64ms/step - loss: 17673.1172 - val_loss: 125600.5469
Epoch 120/200
1/1 [==============================] - 0s 56ms/step - loss: 17668.8047 - val_loss: 125580.5469
Epoch 121/200
1/1 [==============================] - 0s 64ms/step - loss: 17664.6094 - val_loss: 125547.6797
Epoch 122/200
1/1 [==============================] - 0s 63ms/step - loss: 17660.9043 - val_loss: 125525.8750
Epoch 123/200
1/1 [==============================] - 0s 59ms/step - loss: 17657.7734 - val_loss: 125527.7812
Epoch 124/200
1/1 [==============================] - 0s 57ms/step - loss: 17654.7539 - val_loss: 125545.5938
Epoch 125/200
1/1 [==============================] - 0s 60ms/step - loss: 17651.9922 - val_loss: 125558.5312
Epoch 126/200
1/1 [==============================] - 0s 67ms/step - loss: 17649.6836 - val_loss: 125551.0156
Epoch 127/200
1/1 [==============================] - 0s 65ms/step - loss: 17647.4941 - val_loss: 125525.8750
Epoch 128/200
1/1 [==============================] - 0s 65ms/step - loss: 17645.4336 - val_loss: 125500.2812
Epoch 129/200
1/1 [==============================] - 0s 55ms/step - loss: 17643.7051 - val_loss: 125489.2188
Epoch 130/200
1/1 [==============================] - 0s 64ms/step - loss: 17642.1016 - val_loss: 125493.4609
Epoch 131/200
1/1 [==============================] - 0s 66ms/step - loss: 17640.5664 - val_loss: 125500.3438
Epoch 132/200
1/1 [==============================] - 0s 79ms/step - loss: 17639.2734 - val_loss: 125495.7969
Epoch 133/200
1/1 [==============================] - 0s 61ms/step - loss: 17638.1133 - val_loss: 125477.2500
Epoch 134/200
1/1 [==============================] - 0s 68ms/step - loss: 17636.9883 - val_loss: 125454.9844
Epoch 135/200
1/1 [==============================] - 0s 58ms/step - loss: 17636.0312 - val_loss: 125441.8438
Epoch 136/200
1/1 [==============================] - 0s 57ms/step - loss: 17635.1855 - val_loss: 125441.7578
Epoch 137/200
1/1 [==============================] - 0s 58ms/step - loss: 17634.3594 - val_loss: 125447.2969
Epoch 138/200
1/1 [==============================] - 0s 62ms/step - loss: 17633.6387 - val_loss: 125447.1094
Epoch 139/200
1/1 [==============================] - 0s 65ms/step - loss: 17633.0117 - val_loss: 125436.4844
Epoch 140/200
1/1 [==============================] - 0s 58ms/step - loss: 17632.3945 - val_loss: 125421.1484
Epoch 141/200
1/1 [==============================] - 0s 67ms/step - loss: 17631.8477 - val_loss: 125411.0000
Epoch 142/200
1/1 [==============================] - 0s 58ms/step - loss: 17631.3691 - val_loss: 125410.6953
Epoch 143/200
1/1 [==============================] - 0s 59ms/step - loss: 17630.9062 - val_loss: 125415.9844
Epoch 144/200
1/1 [==============================] - 0s 54ms/step - loss: 17630.4902 - val_loss: 125418.1875
Epoch 145/200
1/1 [==============================] - 0s 63ms/step - loss: 17630.1289 - val_loss: 125412.4766
Epoch 146/200
1/1 [==============================] - 0s 64ms/step - loss: 17629.7812 - val_loss: 125402.1016
Epoch 147/200
1/1 [==============================] - 0s 65ms/step - loss: 17629.4629 - val_loss: 125394.5312
Epoch 148/200
1/1 [==============================] - 0s 63ms/step - loss: 17629.1914 - val_loss: 125394.1953
Epoch 149/200
1/1 [==============================] - 0s 64ms/step - loss: 17628.9238 - val_loss: 125398.7188
Epoch 150/200
1/1 [==============================] - 0s 70ms/step - loss: 17628.6777 - val_loss: 125401.7734
Epoch 151/200
1/1 [==============================] - 0s 56ms/step - loss: 17628.4629 - val_loss: 125399.2969
Epoch 152/200
1/1 [==============================] - 0s 64ms/step - loss: 17628.2539 - val_loss: 125393.2422
Epoch 153/200
1/1 [==============================] - 0s 59ms/step - loss: 17628.0566 - val_loss: 125389.1406
Epoch 154/200
1/1 [==============================] - 0s 55ms/step - loss: 17627.8848 - val_loss: 125390.5469
Epoch 155/200
1/1 [==============================] - 0s 67ms/step - loss: 17627.7129 - val_loss: 125395.7734
Epoch 156/200
1/1 [==============================] - 0s 61ms/step - loss: 17627.5527 - val_loss: 125399.9844
Epoch 157/200
1/1 [==============================] - 0s 56ms/step - loss: 17627.4102 - val_loss: 125399.9688
Epoch 158/200
1/1 [==============================] - 0s 51ms/step - loss: 17627.2676 - val_loss: 125397.0625
Epoch 159/200
1/1 [==============================] - 0s 58ms/step - loss: 17627.1328 - val_loss: 125395.3750
Epoch 160/200
1/1 [==============================] - 0s 65ms/step - loss: 17627.0098 - val_loss: 125397.5078
Epoch 161/200
1/1 [==============================] - 0s 54ms/step - loss: 17626.8926 - val_loss: 125402.1016
Epoch 162/200
1/1 [==============================] - 0s 43ms/step - loss: 17626.7812 - val_loss: 125405.4375
Epoch 163/200
1/1 [==============================] - 0s 65ms/step - loss: 17626.6777 - val_loss: 125405.2031
Epoch 164/200
1/1 [==============================] - 0s 58ms/step - loss: 17626.5723 - val_loss: 125402.6719
Epoch 165/200
1/1 [==============================] - 0s 64ms/step - loss: 17626.4766 - val_loss: 125400.9531
Epoch 166/200
1/1 [==============================] - 0s 62ms/step - loss: 17626.3848 - val_loss: 125401.8750
Epoch 167/200
1/1 [==============================] - 0s 59ms/step - loss: 17626.2930 - val_loss: 125404.1875
Epoch 168/200
1/1 [==============================] - 0s 64ms/step - loss: 17626.2070 - val_loss: 125405.0859
Epoch 169/200
1/1 [==============================] - 0s 61ms/step - loss: 17626.1230 - val_loss: 125403.2344
Epoch 170/200
1/1 [==============================] - 0s 48ms/step - loss: 17626.0391 - val_loss: 125399.8828
Epoch 171/200
1/1 [==============================] - 0s 67ms/step - loss: 17625.9609 - val_loss: 125397.4844
Epoch 172/200
1/1 [==============================] - 0s 66ms/step - loss: 17625.8848 - val_loss: 125397.1641
Epoch 173/200
1/1 [==============================] - 0s 65ms/step - loss: 17625.8086 - val_loss: 125397.6562
Epoch 174/200
1/1 [==============================] - 0s 70ms/step - loss: 17625.7363 - val_loss: 125396.9219
Epoch 175/200
1/1 [==============================] - 0s 58ms/step - loss: 17625.6660 - val_loss: 125394.3516
Epoch 176/200
1/1 [==============================] - 0s 66ms/step - loss: 17625.5996 - val_loss: 125391.2109
Epoch 177/200
1/1 [==============================] - 0s 66ms/step - loss: 17625.5312 - val_loss: 125389.2812
Epoch 178/200
1/1 [==============================] - 0s 67ms/step - loss: 17625.4668 - val_loss: 125389.0078
Epoch 179/200
1/1 [==============================] - 0s 58ms/step - loss: 17625.4023 - val_loss: 125389.1250
Epoch 180/200
1/1 [==============================] - 0s 60ms/step - loss: 17625.3398 - val_loss: 125388.2031
Epoch 181/200
1/1 [==============================] - 0s 59ms/step - loss: 17625.2793 - val_loss: 125386.0781
Epoch 182/200
1/1 [==============================] - 0s 66ms/step - loss: 17625.2188 - val_loss: 125383.9141
Epoch 183/200
1/1 [==============================] - 0s 81ms/step - loss: 17625.1602 - val_loss: 125382.8438
Epoch 184/200

In [54]:
full_model.summary()

Model: "sequential_18"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_18 (LSTM)              (None, 30)                1407720

 dense_18 (Dense)            (None, 11700)             362700

 reshape_17 (Reshape)        (None, 1, 11700)          0

=================================================================
Total params: 1,770,420
Trainable params: 1,770,420
Non-trainable params: 0
_________________________________________________________________

## Store full model prediction

In [55]:
#1991-2001

full_train_inputs = next(iter(train_ds))[0] #pairs from 1991-2000
full_train_labels = next(iter(train_ds))[1] #1993-2001
full_train_predictions = full_model(full_train_inputs) #1993-2001

In [56]:
full_train_labels

<tf.Tensor: shape=(9, 1, 11700), dtype=float32, numpy=
array([[[2382., 2354., 2126., ...,  209.,  105.,   59.]],

       [[2357., 2351., 2084., ...,  212.,  112.,   65.]],

       [[2318., 2357., 2055., ...,  247.,  116.,   69.]],

       ...,

       [[2132., 2348., 2039., ...,  389.,  163.,   95.]],

       [[2107., 2335., 2029., ...,  439.,  190.,  103.]],

       [[2077., 2259., 2051., ...,  457.,  221.,  119.]]], dtype=float32)>

In [57]:
full_train_predictions

<tf.Tensor: shape=(9, 1, 11700), dtype=float32, numpy=
array([[[2164.401   , 2269.98    , 2002.4312  , ...,  315.13034 ,
          140.55989 ,   81.423744]],

       [[2177.8188  , 2284.0527  , 2014.845   , ...,  317.08392 ,
          141.43126 ,   81.92846 ]],

       [[2192.166   , 2299.0999  , 2028.1185  , ...,  319.17285 ,
          142.36296 ,   82.46813 ]],

       ...,

       [[2257.086   , 2367.187   , 2088.1804  , ...,  328.6249  ,
          146.57886 ,   84.9101  ]],

       [[2274.0562  , 2384.985   , 2103.8809  , ...,  331.0957  ,
          147.6809  ,   85.54844 ]],

       [[2293.4932  , 2405.37    , 2121.8633  , ...,  333.92563 ,
          148.94312 ,   86.27956 ]]], dtype=float32)>

In [58]:
#2002-2005

full_val_inputs = next(iter(val_ds))[0] #pairs 2002,2003 and 2003,2004
full_val_labels = next(iter(val_ds))[1] #2004 and 2005
full_val_predictions = full_model(val_inputs) #2004 and 2005

In [59]:
full_test_inputs = next(iter(test_ds))[0] #pairs from 2006-2010
full_test_labels = next(iter(test_ds))[1] #2008-2011
full_test_predictions = full_model(test_inputs) #2008-2011

In [60]:
train_df

,10101 f0.4,10101 f10.14,10101 f15.19,10101 f20.24,10101 f25.29,10101 f30.34,10101 f35.39,10101 f40.44,10101 f45.49,10101 f5.9,...,80109 m45.49,80109 m5.9,80109 m50.54,80109 m55.59,80109 m60.64,80109 m65.69,80109 m70.74,80109 m75.79,80109 m80.84,80109 m85.
0,2400,2347,2277,1820,2152,2315,2185,2146,1859,2495,...,1219,1002,1226,920,784,606,328,180,98,50
1,2392,2344,2194,1830,2067,2339,2204,2139,1954,2480,...,1257,1009,1209,931,794,617,376,200,104,55
2,2382,2354,2126,1813,1977,2329,2225,2139,2037,2451,...,1285,993,1154,963,792,634,413,209,105,59
3,2357,2351,2084,1777,1913,2316,2232,2158,2079,2418,...,1284,988,1123,998,778,649,459,212,112,65
4,2318,2357,2055,1734,1869,2272,2256,2165,2111,2403,...,1277,998,1105,1020,819,648,486,247,116,69
5,2280,2360,2060,1656,1869,2218,2290,2186,2150,2400,...,1244,1015,1112,1051,833,672,513,277,124,74
6,2242,2327,2054,1555,1905,2104,2340,2208,2153,2393,...,1188,985,1117,1086,835,676,527,316,123,79
7,2171,2338,2051,1480,1912,2054,2403,2171,2153,2400,...,1157,975,1127,1083,847,690,572,358,142,88
8,2132,2348,2039,1450,1892,2005,2395,2217,2195,2400,...,1149,975,1123,1051,851,694,598,389,163,95
9,2107,2335,2029,1452,1848,1991,2363,2251,2201,2393,...,1122,967,1163,997,892,717,577,439,190,103
10,2077,2259,2051,1467,1777,1997,2263,2282,2203,2302,...,1100,945,1200,996,898,676,596,457,221,119

In [61]:
full_train_inputs #pairs from 1991-2000

<tf.Tensor: shape=(9, 2, 11700), dtype=float32, numpy=
array([[[2400., 2347., 2277., ...,  180.,   98.,   50.],
        [2392., 2344., 2194., ...,  200.,  104.,   55.]],

       [[2392., 2344., 2194., ...,  200.,  104.,   55.],
        [2382., 2354., 2126., ...,  209.,  105.,   59.]],

       [[2382., 2354., 2126., ...,  209.,  105.,   59.],
        [2357., 2351., 2084., ...,  212.,  112.,   65.]],

       ...,

       [[2242., 2327., 2054., ...,  316.,  123.,   79.],
        [2171., 2338., 2051., ...,  358.,  142.,   88.]],

       [[2171., 2338., 2051., ...,  358.,  142.,   88.],
        [2132., 2348., 2039., ...,  389.,  163.,   95.]],

       [[2132., 2348., 2039., ...,  389.,  163.,   95.],
        [2107., 2335., 2029., ...,  439.,  190.,  103.]]], dtype=float32)>

In [62]:
#2000-2001 input for predicting 2002
input_2002 = tf.stack([full_train_labels[7,0,:], full_train_labels[8,0,:]],0)
#2001-2002 input for predicting 2003
input_2003 = tf.stack([full_train_labels[8,0,:], full_val_inputs[0,0,:]],0)
#2000-2001 and 2001-2002 inputs as tensor
input_2002_2003 = tf.stack([input_2002,input_2003],0)

input_2002_2003

<tf.Tensor: shape=(2, 2, 11700), dtype=float32, numpy=
array([[[2107., 2335., 2029., ...,  439.,  190.,  103.],
        [2077., 2259., 2051., ...,  457.,  221.,  119.]],

       [[2077., 2259., 2051., ...,  457.,  221.,  119.],
        [2068., 2272., 2072., ...,  452.,  253.,  128.]]], dtype=float32)>

In [63]:
val_df

,10101 f0.4,10101 f10.14,10101 f15.19,10101 f20.24,10101 f25.29,10101 f30.34,10101 f35.39,10101 f40.44,10101 f45.49,10101 f5.9,...,80109 m45.49,80109 m5.9,80109 m50.54,80109 m55.59,80109 m60.64,80109 m65.69,80109 m70.74,80109 m75.79,80109 m80.84,80109 m85.
11,2068,2272,2072,1450,1682,2080,2189,2323,2239,2319,...,1114,984,1132,986,960,692,590,452,253,128
12,2033,2317,2078,1466,1622,2116,2172,2394,2217,2299,...,1115,990,1078,1003,920,713,601,454,285,127
13,2035,2372,2058,1481,1585,2089,2152,2419,2220,2256,...,1136,978,1065,993,887,728,584,476,298,129
14,2038,2406,2052,1520,1571,2025,2171,2403,2240,2216,...,1192,979,1027,1030,828,754,599,471,313,156

In [64]:
full_val_inputs #pairs from 2002-2004

<tf.Tensor: shape=(2, 2, 11700), dtype=float32, numpy=
array([[[2068., 2272., 2072., ...,  452.,  253.,  128.],
        [2033., 2317., 2078., ...,  454.,  285.,  127.]],

       [[2033., 2317., 2078., ...,  454.,  285.,  127.],
        [2035., 2372., 2058., ...,  476.,  298.,  129.]]], dtype=float32)>

In [65]:
#2004-2005 input for predicting 2006
input_2006 = tf.stack([full_val_labels[0,0,:],full_val_labels[1,0,:]],0)
#2005-2006 input for predicting 2007
input_2007 = tf.stack([full_val_labels[1,0,:], full_test_inputs[0,0,:]],0)
#2004-2005 and 2005-2006 inputs as tensor
input_2006_2007 = tf.stack([input_2006,input_2007],0)

input_2006_2007

<tf.Tensor: shape=(2, 2, 11700), dtype=float32, numpy=
array([[[2035., 2372., 2058., ...,  476.,  298.,  129.],
        [2038., 2406., 2052., ...,  471.,  313.,  156.]],

       [[2038., 2406., 2052., ...,  471.,  313.,  156.],
        [2005., 2428., 2034., ...,  499.,  325.,  195.]]], dtype=float32)>

In [66]:
full_test_inputs #pairs from 2006-2010

<tf.Tensor: shape=(4, 2, 11700), dtype=float32, numpy=
array([[[2005., 2428., 2034., ...,  499.,  325.,  195.],
        [2011., 2375., 2112., ...,  480.,  356.,  214.]],

       [[2011., 2375., 2112., ...,  480.,  356.,  214.],
        [2044., 2343., 2145., ...,  484.,  361.,  234.]],

       [[2044., 2343., 2145., ...,  484.,  361.,  234.],
        [2109., 2330., 2182., ...,  481.,  363.,  250.]],

       [[2109., 2330., 2182., ...,  481.,  363.,  250.],
        [2170., 2336., 2230., ...,  492.,  360.,  264.]]], dtype=float32)>

In [67]:
test_df

,10101 f0.4,10101 f10.14,10101 f15.19,10101 f20.24,10101 f25.29,10101 f30.34,10101 f35.39,10101 f40.44,10101 f45.49,10101 f5.9,...,80109 m45.49,80109 m5.9,80109 m50.54,80109 m55.59,80109 m60.64,80109 m65.69,80109 m70.74,80109 m75.79,80109 m80.84,80109 m85.
15,2005,2428,2034,1570,1566,1936,2246,2337,2292,2232,...,1248,992,1030,1031,795,771,589,499,325,195
16,2011,2375,2112,1542,1583,1875,2288,2247,2352,2210,...,1279,962,1042,988,798,818,599,480,356,214
17,2044,2343,2145,1594,1640,1840,2314,2246,2418,2210,...,1283,954,1068,971,826,783,627,484,361,234
18,2109,2330,2182,1670,1662,1857,2312,2256,2463,2213,...,1296,968,1082,975,852,768,643,481,363,250
19,2170,2336,2230,1722,1691,1883,2274,2328,2474,2217,...,1262,983,1129,962,893,741,674,492,360,264
20,2225,2381,2178,1698,1681,1864,2252,2426,2430,2217,...,1201,974,1194,927,867,756,716,505,414,282

In [68]:
#all-in-one input

all_input = tf.concat([full_train_inputs,input_2002_2003,full_val_inputs,input_2006_2007,full_test_inputs],0)

In [69]:
#predictions for years 1993-2011

result = full_model(all_input) #1993-2011
result

<tf.Tensor: shape=(19, 1, 11700), dtype=float32, numpy=
array([[[2164.401   , 2269.98    , 2002.4312  , ...,  315.13034 ,
          140.55989 ,   81.423744]],

       [[2177.8188  , 2284.0527  , 2014.845   , ...,  317.08392 ,
          141.43126 ,   81.92846 ]],

       [[2192.166   , 2299.0999  , 2028.1185  , ...,  319.17285 ,
          142.36296 ,   82.46813 ]],

       ...,

       [[2526.04    , 2649.2625  , 2337.0085  , ...,  367.78357 ,
          164.04471 ,   95.02684 ]],

       [[2578.0527  , 2703.8127  , 2385.1292  , ...,  375.3564  ,
          167.4224  ,   96.98331 ]],

       [[2617.6406  , 2745.332   , 2421.7546  , ...,  381.12024 ,
          169.99323 ,   98.47241 ]]], dtype=float32)>

In [70]:
test_df.columns

Index(['10101 f0.4', '10101 f10.14', '10101 f15.19', '10101 f20.24',
       '10101 f25.29', '10101 f30.34', '10101 f35.39', '10101 f40.44',
       '10101 f45.49', '10101 f5.9',
       ...
       '80109 m45.49', '80109 m5.9', '80109 m50.54', '80109 m55.59',
       '80109 m60.64', '80109 m65.69', '80109 m70.74', '80109 m75.79',
       '80109 m80.84', '80109 m85.'],
      dtype='object', length=11700)

In [71]:
Code = []
Sex = []
Age = []
for sets in test_df.columns:
    code = sets.split()[0]
    sex = sets.split()[1][0]
    age = sets.split()[1][1:]
    Code.append(code)
    Sex.append(sex)
    Age.append(age)

In [72]:
year2002_2011 = result[-10:]
year2002_2011 = year2002_2011.numpy()
final_result = []
final_result.append(Code)
final_result.append(Sex)
final_result.append(Age)
for year in year2002_2011:
    print(year)
    final_result.append(year[0])

[[2324.297    2437.677    2150.362    ...  338.41058   150.94353
    87.438255]]
[[2345.879   2460.3118  2170.329   ...  341.55283  152.34506   88.25006]]
[[2367.934    2483.443    2190.7336   ...  344.76398   153.77731
    89.079666]]
[[2387.8474   2504.3276   2209.1567   ...  347.66324   155.07048
    89.828705]]
[[2411.9263   2529.5815   2231.434    ...  351.16907   156.63417
    90.734436]]
[[2439.6074   2558.613    2257.0437   ...  355.1993    158.43176
    91.775665]]
[[2479.6355   2600.594    2294.0767   ...  361.02725   161.03119
    93.281334]]
[[2526.04    2649.2625  2337.0085  ...  367.78357  164.04471   95.02684]]
[[2578.0527  2703.8127  2385.1292  ...  375.3564   167.4224    96.98331]]
[[2617.6406  2745.332   2421.7546  ...  381.12024  169.99323   98.47241]]

In [73]:
column_name = ['Code','Sex','Age', '2002','2003','2004','2005','2006','2007','2008','2009','2010','2011']
final_df = pd.DataFrame(final_result).T
final_df.columns = column_name
final_df

,Code,Sex,Age,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,10101,f,0.4,2324.297119,2345.878906,2367.934082,2387.847412,2411.92627,2439.607422,2479.635498,2526.040039,2578.052734,2617.640625
1,10101,f,10.14,2437.677002,2460.311768,2483.443115,2504.327637,2529.581543,2558.613037,2600.593994,2649.262451,2703.812744,2745.332031
2,10101,f,15.19,2150.362061,2170.329102,2190.733643,2209.156738,2231.434082,2257.043701,2294.07666,2337.008545,2385.12915,2421.754639
3,10101,f,20.24,1665.245605,1680.707886,1696.509399,1710.776245,1728.02771,1747.859863,1776.538086,1809.78479,1847.049316,1875.412109
4,10101,f,25.29,1965.959595,1984.214233,2002.869141,2019.712402,2040.079224,2063.49292,2097.350098,2136.600586,2180.594727,2214.079346
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11695,80109,m,65.69,702.57782,709.101501,715.768188,721.787476,729.065979,737.433289,749.532837,763.559814,779.281982,791.248413
11696,80109,m,70.74,550.874146,555.989197,561.21637,565.935913,571.642761,578.203308,587.690247,598.688354,611.015625,620.398132
11697,80109,m,75.79,338.410583,341.552826,344.763977,347.663239,351.169067,355.19931,361.027252,367.783569,375.356415,381.120239
11698,80109,m,80.84,150.943527,152.345062,153.777313,155.07048,156.634171,158.431763,161.031189,164.044708,167.422394,169.993225
11699,80109,m,85.,87.438255,88.250061,89.079666,89.828705,90.734436,91.775665,93.281334,95.02684,96.983307,98.472412

In [76]:
final_df.to_csv("predictions_area_cohort_column.csv")

In [36]:
final_df.rename(column:{})

SyntaxError: invalid syntax (3919008450.py, line 1)